/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 body {
     background-color: #F1DDCF;
     color: #56504D;
 }

 h1 {
  font-style: bold;
  color: #56504D;
}

h2 {
  font-style: bold;
  color: #56504D;
}


.banner img {
     display: inline_block;
     background-size: 100%;
     width: 75%;
}

.center {
     display: block;
     margin-left: auto;
     margin-right: auto;
}
  
.nav {
    background-color:#f4cbc6;;
    height: 30px;
    width: 90%;
    margin: 0px auto;
    padding: 0px;
    border-radius: 25px;
    border: 2px solid #908783
  }
  
.nav li {
     /* border: 1px solid black; */
     display: inline-block;
     line-height: 30px;
     padding: 0px 15px;
     margin: 0px;
}
  
.nav li:hover {
     background-color: #F1DDCF;
     color: #DC047B;
     transition: 2s;
}

.nav li a {
    text-decoration: none;
    color: #908783;
    font-weight: 800;
}
.nav li a:hover {
  text-decoration: none;
  color: #DC047B;
  font-weight: 800;
}

.right {
  float: right;
}


  /* --------------CSS for background on every page --------------------- */

.container {
    margin: 5px auto;
    max-width: 87%;
    background-color: #F1DDCF
    /* padding: 10px;
    border-radius: 25px;
    height: 100%; */
  }

.index-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.index-tile {
  padding: 30px 30px;
  margin: 10px 0px;
  text-align: center;
  background-color: #f4cbc6;
  border-radius: 25px;
  border: 3px solid #908783;
}

.index-img {
  object-fit: cover;
  width: 250px;
  height: 250px;
  border: 3px solid #DC047B;
}

/* .index-tile:hover {
  background-color: #F1DDCF;
     color: #DC047B;
     transition: 2s;
} */

  /* --------------CSS for Homecook Show Page menus  --------------------- */
  .show-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  
  .show-tile {
    padding: 15px 15px;
    width: 25%;
    margin: 10px 0px;
    text-align: center;
    background-color: #f4cbc6;
    border-radius: 25px;
    border: 3px solid #908783;
  }
  
  .show-img {
    object-fit: cover;
    width: 250px;
    height: 250px;
    border: 3px solid #DC047B;
  }

/* ----------------------- CSS for Forms ------------------------------*/

.form-container {
  max-width: 300px;
  margin: 0px auto;
  background-color: #f4cbc6;
  color: #908783;
  border: 3px solid #908783;
  padding: 20px;
  border-radius: 25px;
  text-align: center;
}

.form-btn {
  background-color: #DC047B;
  margin-top: 10px;
  border-radius: 25px;
}

.form-input {
  margin-top: 10px;
}

  /* --------------CSS grid for show pages --------------------- */

  .about {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  }
  .bio {
    width: 350px;
    height: 300px;
    justify-content: space-evenly;
    padding: 29px;
    margin: 10px;
    background-color: #f4cbc6;
    border-radius: 25px;
    border: 3px solid #908783;
  }

  .bio-two {
    width: 400px;
    justify-content: space-evenly;
    padding: 29px;
    margin: 10px;
    background-color: #f4cbc6;
    border-radius: 25px;
    border: 3px solid #908783;
  }

  .profile-pic {
      width: 400px;
      border: 3px solid #DC047B;
  }

